services:
  app:
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    env_file:
      - .env.development

  db:
    env_file:
      - .env.development
    ports:
      - "5432:5432"
